<div class="frame-container">
  <div
    class="d-flex align-items-center justify-content-center top-nav-container"
  >
    <p style="color: white">Top bar navigation</p>
  </div>
  <div class="d-flex content-container">
    <div class="side-nav d-flex flex-column align-items-center">
      <button
        [routerLink]="'content-one'"
        class="btn-primary mt-3"
        style="width: 120px"
      >
        Content one
      </button>
      <button
        [routerLink]="'content-two'"
        class="btn-primary mt-3 mb-3"
        style="width: 120px"
      >
        Content two
      </button>
      <button
        [routerLink]="'content-three'"
        class="btn-primary"
        style="width: 120px"
      >
        Content three
      </button>
    </div>
    <div class="content">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
